<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".GlobalVars"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PresentPal"
        tools:targetApi="31">
        <activity
            android:name=".EventsActivity"
            android:exported="false" />
        <activity
            android:name=".CustomEventActivity"
            android:exported="false" />
        <activity
            android:name=".ShoppingListActivity"
            android:exported="false" />
        <activity
            android:name=".DateActivity"
            android:exported="false" />
        <activity
            android:name=".HouseWarmingActivity"
            android:exported="false" />
        <activity
            android:name=".FathersDayActivity"
            android:exported="false" />
        <activity
            android:name=".MothersDayActivity"
            android:exported="false" />
        <activity
            android:name=".BabyShowerActivity"
            android:exported="false" />
        <activity
            android:name=".AnniversaryActivity"
            android:exported="false" />
        <activity
            android:name=".WeddingActivity"
            android:exported="false" />
        <activity
            android:name=".ChristmasActivity"
            android:exported="false" />
        <activity
            android:name=".BirthdayActivity"
            android:exported="false"
            android:label="@string/title_activity_birthday"
            android:theme="@style/Theme.PresentPal" />
        <activity
            android:name=".GiftDetails"
            android:exported="false" />
        <activity
            android:name=".AddGift"
            android:exported="false"
             />
        <activity
            android:name=".giftlist"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".EditPersonActivity"
            android:exported="false" />
        <activity
            android:name=".AddPersonActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>